{% extends "base.html" %}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <h2>{% trans "Sign Up" %}</h2>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 offset-md-3">
            <form class="signup" method="post" action="{% url 'account_signup' %}">
                <style>
                    .signup label,
                    .signup input {
                        display: block;
                        margin-bottom: 5px;
                    }
                </style>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary mt-3" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>
{% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endif %}
{% endblock content %}
