/*Navbar*/

.navbar-brand {
    font-family: serif;
}

/*Sections*/

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Expense elements*/

.expenses-list {
    list-style: none;
}

.expense-item {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.expense-item-name {
    flex-grow: 1;
}

.expense-item-amount {
    padding-right: 15px;
}

.expense-item-currency {
    font-weight: bold;
}

.delete-expense {
    margin-right: 15px;
}

.total-cost {
    padding-bottom: 50px;
}

/*------------------------------------------------------------
-------------------Media query less than 425px----------------
------------------------------------------------------------*/

@media (max-width: 425px) {
    .expense-item-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}

/*------------------------------------------------------------
-------------------Media query less than 400px----------------
------------------------------------------------------------*/

@media (max-width: 400px) {
    .expense-item-small {
        display: grid;
    }
}