{% extends 'base.html' %}

{% block title %}Expense summary{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col text-right">
                <a href="{% url 'add_expense' %}" class="btn btn-success">Add Expense</a>
            </div>
        </div>
        <h1 class="display-4 text-center">Your expenses</h1>
        <ul class="expenses-list">
            {% for expense in expenses %}
                <li class="expense-item">
                    <div class="expense-item-buttons">
                        <button class="btn btn-primary edit-expense" data-expense-id="{{ expense.id }}">Edit</button>
                        <button class="btn btn-danger delete-expense mr-3" data-expense-id="{{ expense.id }}">Delete</button>
                    </div>
                    <span class="expense-item-name">{{ expense.item }}</span>  
                    <span class="expense-item-amount">{{ expense.amount }}</span>
                    <span class="expense-item-currency">{{ expense.currency }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
